.slotMachineContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:95%;
    padding: 80px;
    border-radius: 10px;
    color: white;
  }

  .multipliersMenu {
    border-top: 2px solid #ddd;
  }
  
  .imagesList {
    display: flex;
    justify-content: center; /* Centra los elementos */
    flex-wrap: wrap;
    gap: 20px; /* Espaciado uniforme entre elementos */
    padding: 20px 0; /* Ajuste de margen para centrar */
  }
  
  .imageItem {
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido */
  }
  
  .icon {
    width: 60px; /* Aumento de tamaño */
    height: 60px;
    object-fit: contain;
    margin-bottom: 10px;
  }
  
  
  p {
    font-size: 14px;
    color: white;
    font-weight: bold;
  }
  

  .slotMachineWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222;
    height: 100%;
  }
  
  .mainTitle {
    font-size: 3rem; /* Tamaño grande */
    font-weight: bold; /* Texto en negrita *//* Color vibrante (puedes cambiarlo) */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Efecto de sombra */
    margin-bottom: -2rem; /* Espacio debajo */
    text-align: center;
  }
  
  
  .reels {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }
  
  .row {
    display: flex;
    gap: 10px;
  }
  
  .controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  button {
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: grey;
  }
  
  .message {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  